{% set films = Search('App\\Entity\\Pictures')  %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Image uploader
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('/assets/favicon.ico') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ asset('/style/card_upload.css') }}">
		<link rel="stylesheet" href="{{ asset('/style/card_saving.css') }}">
		<script src="/script/dragdrop.js" defer></script>
		<script src="/script/sendFile.js" defer></script>

	</head>
	<body>
		{% block body %}
			<div class="container">
				<div class="card_upload">
					<h1 class="title">Upload your image</h1>
					<h4 class="subtitle">File should be Jpeg, Png...</h4>
					<div class="uploadImage">

						<div id="drop_zone"></div>
						<img src="{{ asset('/assets/image.svg') }}"><img>
						<p class="subtitle">Drag & Drop your image here</p>
					</div>
					<p class="subtitle">Or</p>
					<form method="POST" action="/upload" enctype="multipart/form-data">
						<div class="inputs_upload">
							<input type="file" id="fileInput" multiple="false" class="custom-file-input" name="file">
							<label class="custom-file-label" for="fileInput">Choose a file</label>
							<input type="submit">
						</div>
						
					</form>
					<p>max size:
						{{uploadMaxFilesize}}
					</p>
				</div>

				<div class="card_saving" style="display:none">
					<p class="title">Uploading...</p>
					<div class="bar_saving">
						<div class="bar_saved">
							<div></div>
						</div>
					</div>
				</div>

			</div>
		{% endblock %}
	</body>
</html>


